@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<html class="no-js" lang="en" dir="ltr">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PÉTALO</title>
    <link rel="shortcut icon" href="img/Icono Petal.jpeg">
    <link rel="stylesheet" type="text/css" href="~/css/">
</head>

<body style="background-image: url(''../../wwwroot/img/Fondo de la pagina.jpeg'">
    <div class="contenido">
        <h1>Bienvenido a PETALO</h1>
        <p>Official Website.</p>
    </div>
</body>
<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>IdCliente</th>
                    <th>Nombre de Cliente</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var iten in Model)
                {
                    <tr>
                        <td>@iten.IdCliente</td>
                        <td>@iten.NombreCliente </td>
                        <td>@iten.Telefono </td>
                        <td>@iten.Email</td>
                        <td>@iten.Direccion</td>
                        <td>

                            <button>Modificar</button>
                            <button>Ver</button>
                        </td>
                    </tr>

                }

                <tr>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
    <hr size="2" color="red">

    <div class="container">
        <div class="box">
            <a><img src="~/img/Icono arreglo.png" alt="Imagen 1"></a>
            <p>Arreglos Florales</p>
        </div>
        <div class="box">
            <a><img src="~/img/Servicio, decoracion.png" alt="Imagen 2"></a>
            <p>Servicios de decoracion</p>
        </div>
        <div class="box">
            <a><img src="~/img/Precios icon.png" alt="Imagen 3"> </a>
            <p>Nuestros precios</p>
        </div>
    </div>

</body>
</html> 